<div ng-controller="loginController">
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="navbar-header"><a class="navbar-brand" href="#">Geofeelings</a>
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Over</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>

    <div class="container-fluid" id="main">
        <div id="cf">
            <img class="bottom" src="images/frontimg1.jpg" />
        </div>
        <div class="row">
            <div class="col-md-8" id="frontMainDiv">
                <div class="col-md-4" id="welcomeDiv">

                <h2>Welkom bij Geofeelings!</h2>
                <p>Geofeelings is een platform waarmee je je huidige stemming kan delen met de wereld! Registreer nu, Kijk wie er actief is en maak nieuwe vrienden!</p>
                </div>
                <div class="col-md-4" id="frontLogin">
                    <div ng-show="loginerror" class="alert alert-danger">{{ loginerror }}</div>
                    <form name="loginForm" novalidate>
                        <div class="form-group">
                            <label for="username" style="padding-top: 15px">Gebruikersnaam</label>
                            <input type="text" ng-model="loginData.username" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="password">Wachtwoord</label>
                            <input type="password" ng-model="loginData.password" required class="form-control" />
                        </div>
                        <button type="submit" ng-disabled="loginForm.$invalid" ng-click="login()" class="btn btn-primary" >Inloggen</button>
                    </form>
                </div>
                <div class="col-md-4" id="frontRegister">
                    <h4>Nieuw op geofeelings? Registreer nu</h4>
                    <hr>
                    <div ng-show="registererror" class="alert alert-danger">{{ registererror }}</div>
                    <form name="registerForm" novalidate>
                        <div class="form-group">
                            <label for="username">Gebruikersnaam</label>
                            <input type="text" id="username" ng-model="registerData.username" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="password">Wachtwoord</label>
                            <input type="password" id="password" ng-model="registerData.password" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="text" id="email" ng-model="registerData.email" class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
                        </div>
                        <div class="form-group">
                            <label for="age">Leeftijd</label>
                            <input type="number" id="age" ng-model="registerData.age" class="form-control" min="0" required />
                        </div>
                        <div class="form-group">
                        <label style="display: block;">Geslacht</label>
                            <input type="radio" name="gender" ng-model="registerData.gender"  required value="M" />Man
                            <input type="radio" name="gender" ng-model="registerData.gender" required value="V" />Vrouw
                        </div>
                        <button type="submit" ng-disabled="registerForm.$invalid" ng-click="register()" class="btn btn-warning" >Registreren op Geofeelings</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>