<div ng-controller="adminController">
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/map">Geofeelings</a>
            <span id="loggedUser">Ingelogd als: {{user.username}}</span>
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li class="active" ng-if="user.admin"><a href="#/admin">Admin</a></li>
                <li><a href="#" ng-click="logout()">Logout</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
    <div class="container-fluid" id="main">
        <br>
        <label>Search: <input ng-model="searchText"></label>
            <div class="table-responsive">
                <table class="table table-hover" style="width: 50%">
                    <thead>
                    <tr>
                        <th>Author</th>
                        <th>Message</th>
                        <th>Mood</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="event in events | filter:searchText">
                        <td><a href="" ng-click="deleteEvent(event)"><span class="glyphicon glyphicon-trash"></span></a> {{event.author}}</td>
                        <td>{{event.message}}</td>
                        <td ng-if="event.mood"><img src="images/happy.png" width="50px" height="50px"></td>
                        <td ng-if="!event.mood"><img src="images/unhappy.png" width="50px" height="50px"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
</div>
</div>