<div ng-controller="loginController">
    <div ng-show="error" class="alert alert-danger">{{ error }}</div>
        <form name="registerForm" novalidate>
            <label for="username">Username</label>
            <input type="text" id="username" ng-model="registerData.username" required />
            <br />
            <label for="password">Password</label>
            <input type="password" id="password" ng-model="registerData.password" required />
            <br />
            <label for="email">E-mail</label>
            <input type="text" id="email" ng-model="registerData.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
            <br />
            <label for="age">Age</label>
            <input type="number" id="age" ng-model="registerData.age" required />
            <br />
            <label>Gender</label>
            <input type="radio" name="gender" ng-model="registerData.gender" required value="M" />Man
            <input type="radio" name="gender" ng-model="registerData.gender" required value="V" />Vrouw
            <br />
            <button type="submit" ng-disabled="registerForm.$invalid" ng-click="register()" >Create user</button>
        </form>
        <hr>
        <p>Already have an account? <a href="#/login">Login</a></p>
</div>